[Desktop Entry]
Version=1.0
Name={{ description }}
GenericName=Generic {{ description }}
Comment=Comment {{ comment }}
Name[en_GB]={{ description }}
GenericName[en_GB]=GB Generic{{ description }}
Comment[en_GB]=GB Comment {{ comment }} {{ desktop_info }}
Exec=/usr/bin/gedit {{ info_file }}
Icon=/home/robert/.simpli/config/{{ icon }}.png
Terminal=false
Type=Application
Categories=AudioVideo;Player
X-KDE-Protocols=ftp,http,https,mms,rtmp,rtsp,sftp,smb
Keywords=Player;Capture;DVD;Audio;Video;Server;Broadcast;
