[Desktop Entry]
Version=1.0
Name={{ description }}
GenericName=Generic {{ description }}
Comment=Comment {{ description }}
Name[en_GB]={{ description }} {{ client_hostname }}
GenericName[en_GB]=GB Generic {{ description }} {{ client_hostname }}
Comment[en_GB]=Details: {{ comment }}
Exec={{tool_command}} {{ command_args }}
Icon=/home/robert/.simpli/config/{{ icon }}.png
Terminal=false
Type=Application
Categories={{ desktop_categories }}
X-KDE-Protocols={{ desktop_kde_protocols }}
Keywords={{ desktop_keywords }}

