[Desktop Entry]
Version=1.0
Name=Simpli VLC Autumn
GenericName=Generic Simpli VLC Autumn
Comment=Commences vlc session of Autumn
Name[en_GB]=VLC Autumn
GenericName[en_GB]=generic VLC Autumn
Comment[en_GB]=Accessing vlc
Exec=/home/robert/.local/bin/simpli-watch autumn
Icon=vlc
Terminal=true
Type=Application
Categories=AudioVideo;Player
X-KDE-Protocols=ftp,http,https,mms,rtmp,rtsp,sftp,smb
Keywords=Player;Capture;DVD;Audio;Video;Server;Broadcast;
