[Desktop Entry]
Version=1.0
Name=Simpli Zoom Gen
GenericName=Meeting Joiner
Comment=Commences zoom with no meeting
Name[en_GB]=ZOOM General Gen
GenericName[en_GB]=Zoom Meeting Joiner
Comment[en_GB]=This joins zoom for no particular meeting
Exec=/home/robert/.local/bin/simpli-zoom general
Icon=/home/robert/.simpli/desktop-icon/zoom.png
Terminal=true
Type=Application
Categories=AudioVideo;Player
X-KDE-Protocols=ftp,http,https,mms,rtmp,rtsp,sftp,smb
Keywords=Player;Capture;DVD;Audio;Video;Server;Broadcast;
