[Desktop Entry]
Version=1.0
Name=Simpli Zoom
GenericName=Meeting Joiner
Comment=Commences a zoom session to Grosv Rd Revelation
Name[en_GB]=ZOOM Grosv Rd Revelation
GenericName[en_GB]=Zoom Meeting Joiner Revelation
Comment[en_GB]=This joins zoom for a particular ecclesial rev mtng for rev
Exec=/home/robert/.local/bin/simpli-zoom rev
Icon=/home/robert/.simpli/desktop-icon/zoom.png
Terminal=true
Type=Application
Categories=AudioVideo;Player
X-KDE-Protocols=ftp,http,https,mms,rtmp,rtsp,sftp,smb
Keywords=Player;Capture;DVD;Audio;Video;Server;Broadcast;
